<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Portfolio Website</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"  crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hero{
width: 100%;
}
.content{
position:relative;
    top: 10%;
}

.content h1{
    color: #1f1f25;
    font-size: 50px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
}
.content h1 span{
    color: #03ac13;
}
.content p{
    width: 55%;
    color: #757575;
    margin-top: 25px;
    margin-bottom: 30px;
}
</style>
<body>
    <div class="hero" style="display: flex; justify-content: center; align-items: center; margin-top: 15%">
        <div class="content">
            <h1>Hello, I’m <span>Adwitiya</span></h1>
            <p>Roll: 20051124</p>
            <p>Branch: CSE</p>
            <p>Email: <a href="mailto:20051124@kiit.ac.in">Adwitiya Bhattacharya</a></p>
        </div>

         <div class="content">
            <h1>Hello, I’m <span>Akash</span></h1>
            <p>Roll: 20051314</p>
            <p>Branch: CSE</p>
            <p>Email: <a href="mailto:20051314@kiit.ac.in">Akash Nair</a></p>
         </div>

         <div class="content">
            <h1>Hello, I’m <span>Aditya</span></h1>
            <p>Roll: 20051620</p>
            <p>Branch: CSE</p>
             <p>Email: <a href="mailto:20051620@kiit.ac.in">Aditya Ranjan Pradhan</a></p>
         </div>
    </div>
    <a href="/"><h1 style="margin-top: 100px;text-align: center; margin-right: 50px; font-size: 25px"><i class='fa-solid fa-house'> Home </i></h1></a>
</body>
</html>